.Messages {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.Messages-thread {
  grid-column: 3 / span 2;
}

@media (width <= 992px) {
  .Messages-thread {
    grid-column: 1 / span 6;
  }
}

.Messages-thread > a {
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: var(--white);
  display: flex;
  flex-direction: column;
  color: var(--fuschia);
}

.Messages-thread > a:hover {
  scale: 1.05;
  transition: 0.5s;
}

.Messages-thread > a > div { /* Name + message time */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
}

.Messages-thread > a > div > p:nth-child(2) { /* Message time */
  font-style: italic;
  font-size: 0.75rem;
}

.Messages-thread > a > p { /* Message body */
  padding-top: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Only show 1 line of text */
  font-size: 0.75rem;
}
