.EditPassword {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.EditPassword-form {
  grid-column: 3 / span 2;
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--white);
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}


@media (width <= 1200px) {
.EditPassword-form{
    grid-column: 1 / span 6;
  }
}

.EditPassword-form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--purple);
}

.EditPassword-form input {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--fuschia);
}

.EditPassword-form .error, .EditPassword-form .alert {
  margin-bottom: 1rem;
  background: var(--red);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  text-align: center;
}

.EditPassword-form .alert {
  background: var(--green);
}

.EditPassword-form .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.EditPassword-form .buttons > .cancel, .EditPassword-form .buttons > .save {
  background: var(--purple);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  text-align: center;
}

.EditPassword-form .buttons > .cancel:hover,
.EditPassword-form .buttons > .save:hover {
  color: var(--white);
  scale: 1.05;
  transition: 0.5s;
}

.EditPassword-form .buttons > .save {
  background: var(--fuschia);
}
