.EditUser {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.EditUser-form {
  grid-column: 3 / span 3;
  background: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
}

.EditUser-form > div {
  /* Row of labels + input */
  display: flex;
  gap: 1rem;
}

.EditUser-form > :nth-last-child(2) {
  /* Bio label + input */
  flex-direction: column;
  gap: 0;
}

@media (width <= 1200px) {
  .EditUser {
    grid-template-columns: repeat(12, 1fr);
  }

  .EditUser-form {
    grid-column: 2 / span 10;
  }
}

@media (width <= 768px) {
  .EditUser-form {
    grid-column: 1 / span 12;
  }

  .EditUser-form > div {
    flex-direction: column;
    gap: 0;
  }

  .EditUser-form > div:last-child {
    gap: 1rem;
  }
}

.EditUser-form > div > div {
  /* Each group of label + input */
  width: 100%;
}

.EditUser-form label {
  width: inherit;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--purple);
}

.EditUser-form input {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--fuschia);
}

.disabled {
  background: var(--fuschia);
  color: var(--white);
  opacity: 25%;
}

.EditUser-form .error,
.EditUser-form .alert {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--red);
  text-align: center;
  color: var(--white);
}

.EditUser-form .alert {
  background: var(--green);
}

.EditUser-form > .buttons {
}

.cancel,
.save {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--purple);
  text-align: center;
  color: var(--white);
}

.cancel:hover,
.save:hover {
  color: var(--white);
  scale: 1.05;
  transition: 0.5s;
}

.save {
  background: var(--fuschia);
}

.changePassword {
  grid-column: 3 / span 3;
  padding: 2rem;
  text-align: center;
}

@media (width <= 1200px) {
  .changePassword {
    grid-column: 2 / span 10;
  }
}

.changePassword a {
  color: var(--fuschia);
}

.changePassword > a:hover {
  color: var(--white);
  transition: 0.5s;
}
