.UserDetail {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.UserDetail-card {
  height: 100%;
  overflow: hidden;
  grid-column: 2 / span 1;
  border-radius: 0.25rem;
  box-shadow: 0 3px 5px gray;
  background: var(--white);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 2rem;
  color: var(--fuschia);
}

@media (width <= 1200px) {
  .UserDetail {
    padding: 2rem 14rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .UserDetail-card {
    grid-column: 1 / span 3;
  }
}

@media (width <= 992px) {
  .UserDetail {
    padding: 2rem;
  }
}

.UserDetail-card > img {
  width: 100%;
  height: calc(32rem * 3/5);
  object-fit: cover;
  grid-row: 1 / span 3;
}

.UserDetail-card-text {
  overflow: auto;
  padding: 0 2rem 2rem;
  grid-row: 4 / span 2;
}

.UserDetail-name {
  padding: 0 0 0.5rem;
  font-size: 1.5rem;
}

.UserDetail-distance {
  font-style: italic;
}

.UserDetail-bio {
  padding: 1rem 0 0;
}

.edit {
  margin: 1rem 6rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  grid-column: 2 / span 1;
  background: var(--fuschia);
  color: var(--white);
}

@media (width <= 1200px) {
  .edit {
    grid-column: 1 / span 3;
  }
}

.edit:hover {
  transition: 0.5s;
  scale: 1.05;
  color: var(--white);
}

/* .back {
  padding: 0 2rem;
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  background: none;
}

.back:hover {
  transition: 0.5s;
  scale: 1.05;
}

.back > i {
  padding: 0.75rem 0.75rem;
  border-radius: 100%;
  background: var(--fuschia);
  color: var(--white);
} */