.Home > img {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  object-fit: cover;
}

.Home-body {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-body > h1 {
  margin-top: -6rem;
  padding: 0 2rem;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: var(--white);
  text-align: center;
}

@media (width <= 576px) {
  .Home-body > h1 {
    margin-top: -12rem;
  }
}

.Home-body-links {
  margin-top: 1.75rem;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.Home-body-links > a {
  font-size: 1.25rem;
  color: var(--white);
}

.Home-body-links > a:hover {
  transition: 0.5s;
  font-size: 1.25rem;
  color: var(--fuschia);
}
