.MessageForm {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.MessageForm > form {
  padding: 2rem;
  height: 32rem;
  grid-column: 2 / span 1;
  background: var(--white);
  border-radius: 0.5rem;
}

@media (width < 992px) {
  .MessageForm > form {
    grid-column: 1 / span 3;
  }
}

.MessageForm-user {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--blue);
}

.MessageForm-user > img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.MessageForm-user > img:hover {
  scale: 1.05;
  transition: 0.5s;
}

.MessageForm-messages {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 2;
  overflow: auto;
}

.MessageForm-currUser {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.MessageForm-currUser img {
  width: 46px;
  border-radius: 50%;
}

.MessageForm-currUser img:hover {
scale: 1.05;
transition: 0.5s;
}

.MessageForm-currUser input {
  background: var(--white);
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--fuschia);
  color: var(--fuschia);
}

.MessageForm-currUser input::placeholder {
  color: var(--fuschia);
}

.MessageForm-currUser button {
  height: 100%;
  border: 1px solid var(--fuschia);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.MessageForm-currUser button:hover {
  scale: 1.05;
  transition: 0.5s;
}

.MessageForm-currUser button > i {
  color: var(--fuschia);
  font-size: 1rem;
}