.MessageForm {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.MessageForm > form {
  padding: 2rem;
  height: 32rem;
  border-radius: 0.5rem;
  background: var(--white);
  grid-column: 2 / span 1;
  display: grid;
  gap: 2rem;
}

@media (width < 992px) {
  .MessageForm > form {
    grid-column: 1 / span 3;
  }
}

.MessageForm-receiver a {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--blue);
}

.MessageForm-receiver img {
  height: 36px;
  width: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.MessageForm-receiver > a:hover {
  scale: 1.05;
  transition: 0.5s;
}

.MessageForm-messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--fuschia) var(--white);
}

.MessageForm-currUser {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.MessageForm-currUser > a {
  height: 36px;
  width: 36px;
}

.MessageForm-currUser img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.MessageForm-currUser img:hover {
  scale: 1.05;
  transition: 0.5s;
}

.MessageForm-currUser input {
  flex-grow: 2;
  height: 100%;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--white);
  border: 1px solid var(--fuschia);
  color: var(--fuschia);
}

.MessageForm-currUser input::placeholder {
  color: var(--fuschia);
}

.MessageForm-currUser button {
  height: 100%;
  padding: 0 1rem;
  border: 1px solid var(--fuschia);
  border-radius: 0.25rem;
}

.MessageForm-currUser button:hover {
  scale: 1.05;
  transition: 0.5s;
}

.MessageForm-currUser button > i {
  color: var(--fuschia);
  font-size: 1rem;
}
