.Carousel {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.Carousel-card {
  height: 32rem;
  grid-column: 2 / span 1;
}

@media (width <= 992px) {
  .Carousel-card {
    padding: 0 5rem;
    grid-column: 1 / span 3;
  }
}

@media (width <= 768px) {
  .Carousel-card {
    padding: 0 1rem;
  }
}

.Carousel-buttons {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.pass i {
  font-size: 3rem;
  color: var(--white);
}

.like i {
  font-size: 3rem;
  font-size: 3rem;
  color: var(--fuschia);
}

.Carousel-buttons > button:hover {
  scale: 1.05;
  transition: 0.5s;
}
