.Carousel > div:first-child {
  margin: 2rem 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.Carousel > div:first-child > a {
  height: 32rem;
  grid-column: 2 / span 1;
}

@media (width <= 992px) {
  .Carousel > div:first-child > a {
    padding: 0 5rem;
    grid-column: 1 / span 3;
  }
}

@media (width <= 768px) {
  .Carousel > div:first-child > a {
    padding: 0 1rem;
  }
}

.Carousel-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.x {
  color: var(--white);
}

.yes {
  color: var(--fuschia);
}

.x:hover,
.yes:hover {
  scale: 1.05;
  transition: 0.5s;
}

.x > i, .yes > i {
  font-size: 3rem;
}
