.RegisterForm {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.RegisterForm > div {
  grid-column: 3 / span 3;
  display: flex;
  justify-content: center;
}

@media (width <= 768px) {
  .RegisterForm > div {
    grid-column: 2 / span 5;
  }
}

.RegisterForm > div > div {
  width: 100%;
  background: var(--white);
  padding: 2rem 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--fuschia);
  text-align: center;
}

.instructions {
  margin-top: 0.5rem;
  color: var(--fuschia);
  text-align: center;
}

.RegisterForm > div > div > form {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--purple);
}

input {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--fuschia);
}

.error {
  margin-bottom: 1rem;
  background: var(--red);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  text-align: center;
}

.Buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.GoToLogin {
  background: var(--purple);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

.GoToLogin:hover,
.continue:hover {
  color: var(--white);
  scale: 1.05;
  transition: 0.5s;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.pagination > .active {
  font-size: 8px;
  color: var(--fuschia);
}

.pagination i {
  font-size: 8px;
  color: white;
}

.pagination i:hover {
  cursor: pointer;
}
