.Register-Nav {
  width: 100vw;
  position: absolute;
}

.Register {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}

.Register-Form {
  grid-column: 3 / span 3;
  display: flex;
  justify-content: center;
}

@media (width <= 768px) {
  .Register-Form {
    grid-column: 2 / span 5;
  }
}

.Register-Form > div {
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tagline {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--fuschia);
}

.instructions {
  margin: 0.5rem 0 2rem;
  text-align: center;
  color: var(--fuschia);
}

.Register-Form form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.Register-Form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--purple);
}

.Register-Form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--fuschia);
}

.Register-Form .error {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--red);
  text-align: center;
  color: var(--white);
}

.Register-Form .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.goToLogin,
.back {
  background: var(--purple);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

.continue {
  background: var(--fuschia);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: var(--white);
  text-align: center;
}

.continue > i {
  font-size: inherit;
}

.goToLogin:hover,
.back:hover,
.continue:hover {
  color: var(--white);
  scale: 1.05;
  transition: 0.5s;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
}

.pagination i {
  font-size: 8px;
  color: white;
}

.pagination > .active {
  font-size: 8px;
  color: var(--fuschia);
}
