.Login-Nav {
  width: 100%;
  position: absolute;
  padding: 0.5rem 0;
  background: var(--white);
}

.Login {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.Login-Form {
  width: 100%;
  grid-column: 3 / span 3;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width <= 768px) {
  .Login-Form {
    grid-column: 2 / span 5;
  }
}

.Login-Form p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--fuschia);
}

.Login-Form p:nth-child(2) {
  margin: 0.5rem 0 2rem;
  text-align: center;
  color: var(--fuschia);
}

.Login-Form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.error {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--red);
  text-align: center;
  color: var(--white);
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.goToRegister {
  background: var(--purple);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--white);
}

.continue {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--fuschia);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.goToRegister:hover,
.continue:hover {
  transition: 0.5s;
  color: var(--white);
  scale: 1.05;
}