.Cat img {
  height: 200px;
  object-fit: cover;
}

.Cat button {
  border: none;
  background: none;
}


.heart {
  color: rgb(230, 71, 97);
}

.Cat{
  border: 1px solid black;
  height:400px;
  width: 400px;
}