.Message {
  display: flex;
}

.currUser {
  justify-content: end;
  text-align: right;
}

.receiver {
  justify-content: start;
  text-align: left;
}

.currUser-color,
.receiver-color {
  max-width: 75%;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: var(--fuschia);
  color: var(--white);
}

.receiver-color {
  background: var(--blue);
}
