.Message {
  display: flex;
}

.currUser {
  justify-content: end;
  text-align: right;;
}

.user {
  justify-content: start;
  text-align: left;;
}

.Message-block {
  width: 75%;
  display: flex;
}

.Message-block > div {
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  color: var(--white);
}

.currUser-color {
background: var(--fuschia);
}

.user-color {
  background: var(--blue);
}

.Message-block > div > div {
  font-size: 0.8rem;
}